<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MoNTE48.MultiCraft"
    android:installLocation="auto"
    android:versionCode="5"
    android:versionName="@string/ver" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MTTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.Minetest.Mobile.MainActivity"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.minetest.minetest.MtNativeActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="minetest" />
        </activity>
        <activity
            android:name="org.minetest.minetest.MinetestTextEntry"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="com.Minetest.Mobile.Start"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="com.Minetest.Mobile.About"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name="com.purplebrain.adbuddiz.sdk.AdBuddizActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.Minetest.Mobile.StartNative"
            android:screenOrientation="sensorLandscape" >
        </activity>

        <service android:name="com.appnext.appnextsdk.API.DownloadService" />

        <activity
            android:name="com.appflood.AFListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.revmob.ads.fullscreen.FullscreenActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <meta-data
            android:name="com.revmob.app.id"
            android:value="54576a9751ebc82f5ee5546c" />

        <activity
            android:name="com.startapp.android.publish.list3d.List3DActivity"
            android:theme="@android:style/Theme" />
        <activity
            android:name="com.startapp.android.publish.AppWallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>